body
	background-color #f5f6fa
	font-family: 'Roboto', sans-serif;
	font-size 14px;
h2,h3,h4,h5,ul,body,html
	padding 0px
	margin  0px
.fondo
	background-image url('/static/images/fondo3.jpg')
.wrapper
	min-height 100vh
	overflow hidden
	.col1
		float left
		position relative
		z-index 999
		width 17%
	.col2
		float left
		width 83%
	
	.sidebar
		background-color #4BD6D6
		min-height 100vh
		.section-top
			background-color #FF354D
			box-shadow 0 0.5rem 1rem rgba(0, 0, 0, .15)
		
		.logo
			display block
			margin 0px auto 
			padding top 24px
			width 60%
		.user 
			color #fff !important
			padding 16px
			a 
				color #5D0005
				font-size 1.2em
		.main 
			display block
			margin-top 8px
			ul 
				li
					margin-bottom 5px
					a
						color #56271A !important
						display block
						font-size 1.1em
						padding 12px 12px
						i
							margin-right 10px
						&:hover
								background-color #FF354D
								box-shadow 0 0.5rem 1rem rgba(0, 0, 0, .15)
								color #fff !important
								text-decoration none
								
						
					
.navbar
	
		background-color #FF354D	
		a 
			color #fff !important

.page 
	padding-top 10px	
	padding-bottom 10px
	.breadcrumb
		background-color #fff
		box-shadow 0 0.5rem 1rem rgba(0, 0, 0, .10) !important
		.breadcrumb-item
			a
				&:hover
					text-decoration none
					
	.panel	
		background-color #fff
		border-radius 	6px
		border-bottom 2px solid #FF354D
		width 100%
		.header
			border-bottom 1px solido #e8e8e8
			h2.title
				display inline-block
				color #19213d
				font-size 1.1em
				padding 12px 16px
				













			