table
   width: 35%
   margin-left 5px
   margin-right 2px
   border: 1px solid #000

	td
		background-color #2D7AF7
		label
			color #fff

	th
		 width: 25%
   text-align: left
   vertical-align: top
   border: 1px solid #000
   border-collapse: collapse
   padding: 0.3em
   caption-side: bottom

.largo
   th
       width: 100%

.body1
	
	td 
		background-color #F3F5F7
		
		
	th
		background-color #F3F5F7
		
	td 	
   width: 25%
   text-align: left
   vertical-align: top
   border: 1px solid #000
   border-collapse: collapse
   padding: 0.3em
   caption-side: bottom
 

.body2
	
   
	
	td 	
   width: 25%
   text-align: left
   vertical-align: top
   border: 1px solid #000
   border-collapse: collapse
   padding: 0.3em
   caption-side: bottom	
.body3
	td 
		background-color #F3F5F7
	th
		background-color #F3F5F7
		
	td 	
   width: 25%
   text-align: left
   vertical-align: top
   border: 1px solid #000
   border-collapse: collapse
   padding: 0.3em
   caption-side: bottom
 